# Ignore web folder CSS/HTML in language stats to prevent skew
web/* linguist-vendored

# Attempt to include submodules (Note: GitHub Linguist often ignores submodules by default)
js linguist-submodule=true
cs linguist-submodule=true
py linguist-submodule=true
