name: Auto Update Submodules

on:
  schedule:
    - cron: '0 0 * * *' # Runs daily at midnight
  workflow_dispatch:      # Allows manual trigger

jobs:
  update-submodules:
    runs-on: ubuntu-latest
    permissions:
      contents: write # Needed to push changes

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          submodules: recursive
          fetch-depth: 0 # Fetch all history for all branches and tags
          token: ${{ secrets.SUBMODULE_UPDATE_TOKEN }}

      - name: Update submodules
        run: |
          git submodule update --remote --merge

      - name: Check for changes
        id: check_changes
        run: |
          if git diff --quiet; then
            echo "No changes in submodules."
            echo "changed=false" >> $GITHUB_OUTPUT
          else
            echo "Submodules have changed."
            echo "changed=true" >> $GITHUB_OUTPUT
          fi

      - name: Commit and Push changes
        if: steps.check_changes.outputs.changed == 'true'
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          git add .
          git commit -m "chore(submodules): auto-update pointers to latest"
          git push
